[Unit]
Description=Daily runs of snapborg backup (and prune) for all snapper configs

[Timer]
OnCalendar=daily
Persistent=true
Unit=snapborg-backup-all.service

[Install]
WantedBy=timers.target
