[Unit]
Description=Hourly runs of snapborg backup (and prune) for the '%I' snapper config

[Timer]
OnCalendar=hourly
Persistent=true
Unit=snapborg-backup@%i.service

[Install]
WantedBy=timers.target
