[Unit]
Description=Run snapborg backup for the %I snapper config
After=nss-user-lookup.target snapper-boot.service snapper-timeline.service snapper-cleanup.service

[Service]
ExecStart=/usr/bin/snapborg --snapper-config %I backup
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
