[Unit]
Description=Prune snapborg backups for all configs
After=snapborg-backup@.service snapborg-backup-all.service nss-user-lookup.target snapper-boot.service snapper-timeline.service snapper-cleanup.service

[Service]
ExecStart=/usr/bin/snapborg prune
