[Unit]
Description=Daily runs of snapborg prune for the '%I' snapper config

[Timer]
OnCalendar=daily
Persistent=true
Unit=snapborg-prune@%i.service

[Install]
WantedBy=timers.target
